<h1>Your Trees</h1><br>

<ol>
<% current_user.trees.each do |tree| %>
  <li>
    <a href="/trees/<%= tree.id %>"><%= Species.find(tree.species_id).name %></a>
    <br><br>
    <p>Date Surveyed: <%= tree.survey_date ? tree.survey_date : "N/A" %></p>
    <p>Height: <%= tree.height ? tree.height.to_s + " feet" : "N/A" %></p>
    <p>DBH: <%= tree.dbh ? tree.dbh.to_s + " inches" : "N/A" %></p>
  </li>
  <% if tree != current_user.trees.last %>
    <br><br>
  <% end %>
<% end %>
</ol>