<h2 align="center"><%= Species.find(@tree.species_id).name %></h2>

<p>Date Surveyed: <%= @tree.survey_date ? @tree.survey_date : "N/A" %></p>
<p>Height: <%= @tree.height ? @tree.height.to_s + " feet" : "N/A" %></p>
<p>DBH: <%= @tree.dbh ? @tree.dbh.to_s + " inches" : "N/A" %></p>
<p>Foliage Density: <%= @tree.foliage ? @tree.foliage : "N/A" %></p>
<p>Comments:<br><%= @tree.comments ? @tree.comments : "N/A" %></p>

<div align="center">
  <form style="display: inline;" action="/trees/<%= @tree.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="button">Delete Tree</button>
  </form>
  <form style="display: inline;" action="/trees/<%= @tree.id %>/edit" method="get">
    <button class="button">Edit Tree</button>
  </form>
</div>
