<h1><%= Species.find(@tree.species_id).name %></h1>
<br>
<p>Date Surveyed: <%= @tree.survey_date ? @tree.survey_date : "N/A" %></p>
<p>Height: <%= @tree.height ? @tree.height.to_s + " feet" : "N/A" %></p>
<p>DBH: <%= @tree.dbh ? @tree.dbh.to_s + " inches" : "N/A" %></p>
<p>Foliage Density: <%= @tree.foliage ? @tree.foliage : "N/A" %></p>
<p>Comments:<br><%= @tree.comments ? @tree.comments : "N/A" %></p>